{% extends "base.html" %}
{% block head %}
{#    <link rel="stylesheet" href="{{ url_for('static', filename='checkout.css') }}">#}
{% endblock %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Your cart</span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">{{ product['name'] }}</h6>
                            <small class="text-muted">{{ product['description'] }}</small>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total (EUR)</span>
                        <strong>€{{ product['price'] }}</strong>
                    </li>
                </ul>
            </div>
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">Personal info</h4>
                <form>
                    <div class="row">
                        Name: << user full name >>
                        << other info about user >>
                    </div>
                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Complete checkout</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}